@charset "UTF-8";

// 변수 설정
:root {
  --white: #fff;
  --balck: #000;

  --bg-light: #f0eeeb;
  --bg-light-border: #dad8d1;
  --bg-dark: #000;
  --bg-dark-border: #1a1a1a;

  --font-size: 16px;
  --font-height: 1.4;
  --font-color: #fff;
  --font-main: 'NexonLv1Gothic';
}

@import url('./fonts.scss');
@import url('./reset.scss');
@import url('./header.scss');
@import url('./main.scss');

body {
  background-color: var(--bg-dark);
  min-height: 100vh;
}
